mixin product-item(pet)
    .product-item
        a(href="../product-detail.pug")
            .product-item__image
                img(src=pet.image alt=pet.title)
            .product-item__content
                h3.product-item__title #{pet.title}
                .product-item__infor
                    .product-item__infor-item Giống: <b>#{pet.gender}</b>
                    .product-item__infor-item Tuổi: <b>#{pet.age}</b>
                .product-item__price #{pet.price}